<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="3">
    <test  name="E2E for Hotel Reservation on Chrome">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="testcases.TC01_LocationSearch">
                <methods>
                    <include name="searchwithvaliddata_P"/>

                </methods>
            </class>


        </classes>
    </test>


<!--    <test  name="E2E for Hotel Reservation on FireFox">-->
<!--        <parameter name="browser" value="firefox" />-->
<!--        <classes>-->
<!--            <class name="testcases.TC01_LocationSearch">-->
<!--                <methods>-->
<!--                    <include name="searchwithvaliddata_P"/>-->

<!--                </methods>-->
<!--            </class>-->


<!--        </classes>-->
<!--    </test>-->


<!--    <test  name="E2E for Hotel Reservation on Egde">-->
<!--        <parameter name="browser" value="edge" />-->
<!--        <classes>-->
<!--            <class name="testcases.TC01_LocationSearch">-->
<!--                <methods>-->
<!--                    <include name="searchwithvaliddata_P"/>-->

<!--                </methods>-->
<!--            </class>-->


<!--        </classes>-->
<!--    </test>-->
</suite>
